main > .container {
    padding: 60px 15px 0;
}

.question{
    border: 4px black solid;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 15px;
}

.question img{
    width: 130px;
    border-radius: 32px;
}

input.rating{
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    border-width: 4px;
    border-style: solid;
    border-color: black;
    border-radius: 7px;
    text-align: right;
    font-weight: bolder;
}

.question_text{
    padding-left: 66px;
}

.newq{
    font-size: 40px;
}

.hotq{
    font-size: 30px;
    bottom: 0mm;  
    margin-top: 9px; 
}

.ask{
    margin: 25px;
}

.search{
    border: 2px solid #000000
}

.ques{
    margin-bottom: 30px;
}

.avatar_up{
    border-radius: 32px;
}

.name_up{
    font-size: 40px;
    margin: 20px;
}

.head{
    margin-top: -42px;
}

.right_up{
    font-size: 30px;
    margin-left: 29px;
}

.page-link{
    border: 3px solid black;
    color: black;
}

.popular_top{
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
}

.popular{
    font-size: 30px;
    font-weight: bolder;
    text-align:  center;
    margin-left: 20px;
}

.best_mem{
    font-size: 25px;
    text-align:  left;
    margin-left: 20px;
}

.add_log{
    margin: 21px;
}

.add_field{
    border: 4px solid #000000;
}

.img_one{
    width: 170px;
    border-radius: 32px;
}

.img_avatar{
    width: 170px;
    border-radius: 32px;
    margin-bottom: 10px;
}

.new_one_text{
    font-size: 25px;
    font-weight: bolder;
}

.create_link{
    font-size: 20px;
    font-weight: bolder;
    padding:15px
}

.warning{
    font-size: 20px;
    font-weight: bolder;
    color: red;
}
.rating{
    margin-left: 30%;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 0%;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
    
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}