{% load static %}
<div class="row question">
    <div class="col-3">
      <div>
          <h4>{{ answer.author}}</h4>
      </div>
      <img src="{% static "img/200.jpg" %}">
      <div class="row">
        <div class="col-6 rating">
            <i class="arrow up"></i>
            <div>0</div>
            <i class="arrow down"></i>
        </div>
    </div>
    </div>            
    <div class="col-9 question_text">          
      {{answer.text}}
      {% if answer.correctness %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" checked>
            <strong>Correct!</strong>
        </div>
      {% else %}
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
        <strong>Not correct!</strong>
      </div>
      {% endif %}
      <div class="row"> 
        <div class="col-8"></div>          
        <div class="col-4"><h6>{{ answer.date_pub }}</h6></div>
      </div>
    </div>    
</div>