{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">
  {% include "includes/head.html" %}

  <body class="d-flex flex-column h-100">
    <!-- Begin page content -->
    <main class="flex-shrink-0">
      <div class="container">
        {% include "includes/navbar.html" %}

        <hr style="color: solid rgb(0, 0, 0); height: 4px; opacity: 1" />
        <div class="row">
          <div class="col-8">
            {% block top%}
            <div class="row ques">
              <div class="col-6 newq">
                <strong>New Questions</strong>
              </div>
              <div class="col-6 hotq">
                <a href="{% url 'home' %}hot_questions">Hot Questions</a>
              </div>
            </div>
            {% endblock top%}
          </div>
          <div class="col-8">
            <!--first question -->
            {% block content%} 
                {% for question in questions %}
                    {% include "includes/question.html" %}
                {% endfor %}
            {% endblock content%}   
            {%block paginator%}   
              {% include "includes/paginator.html" %}
            {% endblock paginator %}
          </div>
          <div class="col-4">
            {% block side %} 
                {% include "includes/side.html" %} 
            {% endblock side %}
          </div>
        </div>
      </div>
    </main>
    <script src="js/bootstrap.bundle.min.js"></script>
  </body>
</html>
