{% load static %}
<div class="row head">
    <div class="col-2 name_up"><strong><a href="{% url 'home' %}">AskPupkin</a></strong></div>
    <div class="col-5 ask">
      <form class="d-flex">
        <input class="form-control me-3 search" type="search" placeholder="Search" aria-label="Search">
        <a href="{% url 'home' %}ask" class="btn btn-success btn-block" type="submit" role="button" area-disabled="true">ASK!</a>
      </form>
    </div>
    
    <div class="col-3 add_log">
      <a class="right_up" href="{% url 'home' %}login">log in</a><a class="right_up" href="{% url 'home' %}register">register</a>
    </div>
</div>