{% load static %}
<div class="row head">
  <div class="col-2 name_up"><strong><a href="{% url 'home' %}">AskPupkin</a></strong></div>
  <div class="col-5 ask">
    <form class="d-flex">
      <input
        class="form-control me-3 search"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <a href="{% url 'home' %}ask" class="btn btn-success btn-block" type="submit" role="button" area-disabled="true">ASK!</a>
    </form>
  </div>
  <div class="col-1">
    <img src="{% static "img/200.jpg" %}" height="100px" class="avatar_up">
  </div>
  <div class="col-3">
    <p class="right_up">Dr. Pepper</p>
    <a class="right_up" href="{% url 'home' %}settings">settings</a>
    <a class="right_up" href="{% url 'home' %}login">log out</a>
  </div>
</div>
