{% load static %}
<div class="row question">
    <div class="col-3">
        <div>
            <h4>{{ question.author}}</h4>
        </div>
        <img src="{% static "img/200.jpg" %}">
        <div class="row">
            <div class="col-6 rating">
                <i class="arrow up"></i>
                <div>
                    <strong>{{ question.author.rate.rate}}</strong>
                </div>
                <i class="arrow down"></i>
            </div>
        </div>
    </div>            
    <div class="col-9 question_text">
        <a href="{% url 'home' %}question/{{question.id}}"><h2>{{ question.title }}</h2></a>              
      <div>
        {{ question.text }}
      </div>
        <div class="row">
            <div class="col-4">
                <strong><a href="{% url 'home' %}question/{{question.id}}">answers</a></strong>              
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-2">
                        <strong>Tags: </strong>
                    </div>
                    <div class="col-10">
                        {% block tag_url%}
                            {% for tag in question.tags.all %}
                                <strong><a href="{% url 'home' %}tag/{{tag.title}}">{{ tag.title}}</a></strong>
                            {% endfor %}
                        {% endblock tag_url%}                        
                    </div>
                </div>                                
            </div>
        </div>   
        <div class="row"> 
            <div class="col-8"></div>          
            <div class="col-4"><h6>{{ question.date_pub }}</h6></div>
        </div>
    </div>
</div>