<div class="row">
  <div class="col-12 popular_top">
    <strong>Popular Tags</strong>
  </div>
  <div class="col-12 popular">
    <a href="#" class="link-primary popular">Primary link</a>
    <a href="#" class="link-secondary popular">Secondary link</a>
    <a href="#" class="link-success popular">Success link</a>
    <a href="#" class="link-danger popular">Danger link</a>
    <a href="#" class="link-warning popular">Warning link</a>
    <a href="#" class="link-info popular">Info link</a>
    <a href="#" class="link-light popular">Light link</a>
    <!--<a href="#" class="link-dark popular">Dark link</a>-->
  </div>

  <div class="col-12 popular_top">
    <strong>Best Members</strong>
  </div>
  <div class="col-12 best_mem">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="#">Mr. Freeman</a></li>
      <li class="list-group-item"><a href="#">Dr. House</a></li>
      <li class="list-group-item"><a href="#">Bender</a></li>
      <li class="list-group-item"><a href="#">Queen Victoria</a></li>
      <li class="list-group-item"><a href="#">V. Pupkin</a></li>
    </ul>
  </div>
</div>
