{% load static %}
<!doctype html>
<html lang="en" class="h-100">
  {% include "includes/head.html" %}

  <body class="d-flex flex-column h-100">    
    
    <!-- Begin page content -->
    <main class="flex-shrink-0">
      <div class="container">
        {% include "includes/navbar_not_logged.html" %}
        <hr style="color: solid rgb(0, 0, 0); height: 4px; opacity: 1;">
        <div class="row">
          <div class="col-8 ques newq">
                <strong>New Question</strong>
          </div>
          <div class="col-8">
            <form>
                <!--first field-->
                <div class="row">
                    <div class="col-3">
                        <p class="new_one_text">Title</p>
                    </div>            
                    <div class="col-9">
                            <strong><input size="50" value="How to build a moon park?" class="add_field question" name="title"></strong>
                    </div>    
                </div>

                <!--second field-->
                <div class="row">
                    <div class="col-3">
                      <p class="new_one_text">Text</p>
                    </div>            
                    <div class="col-9">
                            <strong>
                            <textarea cols="53" rows="15" class="add_field question" name="question_text">
Really, how?
Have no idia about it
                            </textarea>
                            </strong>
                    </div>    
                </div>

                <!--third field-->
                <div class="row">
                    <div class="col-3">
                      <p class="new_one_text">Tags</p>
                    </div>            
                    <div class="col-9">
                        <strong><input size="50" value="moon, park, puzzle" class="add_field question" name="tags"></strong>
                    </div>    
                </div>
                <!--button-->
                <div class="row">
                    <div class="col-3"></div>            
                    <div class="col-9">
                        <button class="btn btn-dark btn-block btn-lg" type="submit">ASK!</button>
                    </div>    
                </div>
            </form>
          </div>      
          <div class="col-4">
            {% block side %} 
                {% include "includes/side.html" %} 
            {% endblock side %}
          </div>
        </div>
      </div>
    </main>
    <script src="js/bootstrap.bundle.min.js"></script>      
  </body>
</html>
