{% extends "includes/base.html" %} {% load static %} {% block top%}
<div class="row ques">
  <div class="col-6 newq">
    <strong>Hot Questions</strong>
  </div>
  <div class="col-6 hotq">
    <a href="{% url 'home' %}">New Questions</a>
  </div>
</div>
{% endblock top%}
