{% load static %}
<!doctype html>
<html lang="en" class="h-100">
  {% include "includes/head.html" %}

  <body class="d-flex flex-column h-100">    
    
    <!-- Begin page content -->
    <main class="flex-shrink-0">
      <div class="container">

        {% include "includes/navbar_not_logged.html" %}


        <hr style="color: solid rgb(0, 0, 0); height: 4px; opacity: 1;">
        <div class="row">
          <div class="col-8">
              {% for question in questions %}
                {% include "includes/question.html" %}
              {% endfor %}
            <hr style="color: solid rgb(0, 0, 0); height: 4px; opacity: 1;">
            {%block content%}
            {% for answer in posts %}                
            {% include "includes/answer.html" %}            
            {% endfor %}
            {%endblock content%}
            {%block paginator%}   
              {% include "includes/paginator.html" %}
            {% endblock paginator %}            
            {% if answers > 0%}          
            <hr style="color: solid rgb(0, 0, 0); height: 4px; opacity: 1;">
            {%endif%}
            {% if answers == 0%}            
            <h2>No answers! You can be first!</h2>
            {% endif%}
            <!--answer-->  
            <form>                
                <p><strong>
                    <textarea cols="80" rows="5" class="add_field question" name="question_text">
Enter your answer here.
                    </textarea>
                </strong></p>             
                <button class="btn btn-dark btn-block btn-lg" type="submit">Answer</button>
            </form>
          </div>      
          <div class="col-4">
            {% block side %} 
                {% include "includes/side.html" %} 
            {% endblock side %}            
          </div> 
        </div>
      </div>
    </main>
    <script src="js/bootstrap.bundle.min.js"></script>      
  </body>
</html>
