{% load static %}
<!doctype html>
<html lang="en" class="h-100">
  {% include "includes/head.html" %}

  <body class="d-flex flex-column h-100">    
    
    <!-- Begin page content -->
    <main class="flex-shrink-0">
      <div class="container">
        {% include "includes/navbar_not_logged.html" %}

        <hr style="color: solid rgb(0, 0, 0); height: 4px; opacity: 1;">
        <div class="row">
            <div class="col-8 ques newq">
                  <strong>Registration</strong>
                  <p class="warning">Sorry, this email address allready registred!</p>
            </div>
            <div class="col-8">
                <form>
                    <!--first field-->
                    <div class="row">
                        <div class="col-4">
                            <p class="new_one_text">login</p>
                        </div>            
                        <div class="col-8">
                                <strong><input size="40" value="dr_pepper" class="add_field question" name="login"></strong>
                        </div>    
                    </div>
    
                    <!--second field-->
                    <div class="row">
                        <div class="col-4">
                            <p class="new_one_text">Email</p>
                        </div>            
                        <div class="col-8">
                                <strong><input size="40" value="dr.pepper@mail.ru" class="add_field question" name="mail"></strong>
                        </div>    
                    </div>
    
                    <!--third field-->
                    <div class="row">
                        <div class="col-4">
                            <p class="new_one_text">NickName</p>
                        </div>            
                        <div class="col-8">
                            <strong><input size="40" value="Dr. Pepper" class="add_field question" name="nick"></strong>
                        </div>    
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <p class="new_one_text">Password</p>
                        </div>            
                        <div class="col-8">
                                <strong><input size="40" value="********" class="add_field question" name="password"></strong>
                        </div>    
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <p class="new_one_text">Repeat password</p>
                        </div>            
                        <div class="col-8">
                                <strong><input size="40" value="********" class="add_field question" name="re_password"></strong>
                        </div>    
                    </div>

                    <!--avatar-->
                    <div class="row">
                        <div class="col-4">
                        <p class="new_one_text">Upload avatar</p>
                        </div>            
                        <div class="col-8">
                            <strong><input size="30" value="C:\bender.jpg" class="add_field question" name="directory_of_file"></strong>
                            <button class="btn btn-secondary btn-block btn-lg" type="submit">choose</button>
                        </div>    
                    </div>
                    <!--button-->
                    <div class="row">
                        <div class="col-4"></div>            
                        <div class="col-8">
                            <button class="btn btn-primary btn-block btn-lg" type="submit">Register!</button>
                        </div>    
                    </div>
                </form>
            </div>       
            <div class="col-4">
              <div class="row">
                <div class="col-12 popular_top">
                  <strong >Popular Tags</strong>
                </div>
                <div class="col-12 popular">
                  <a href="#" class="link-primary popular">Primary link</a>
                  <a href="#" class="link-secondary popular">Secondary link</a>
                  <a href="#" class="link-success popular">Success link</a>
                  <a href="#" class="link-danger popular">Danger link</a>
                  <a href="#" class="link-warning popular">Warning link</a>
                  <a href="#" class="link-info popular">Info link</a>
                  <a href="#" class="link-light popular">Light link</a>
                  <!--<a href="#" class="link-dark popular">Dark link</a>-->
                </div>
  
                <div class="col-12 popular_top">
                  <strong >Best Members</strong>
                </div>
                <div class="col-12 best_mem">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#">Mr. Freeman</a></li>
                    <li class="list-group-item"><a href="#">Dr. House</li></a>
                    <li class="list-group-item"><a href="#">Bender</li></a>
                    <li class="list-group-item"><a href="#">Queen Victoria</li></a>
                    <li class="list-group-item"><a href="#">V. Pupkin</li></a>
                  </ul>
                </div>
              </div>
            </div> 
          </div>
      </div>
    </main>
    <script src="js/bootstrap.bundle.min.js"></script>      
  </body>
</html>
