{% extends "includes/base.html" %}
{% load static %}
<!doctype html>
<html lang="en" class="h-100">
  {% block top%}
  <div class="row ques">
    <div class="col-2 newq">
      <strong>Tag:</strong>
    </div>
    <div class="col-6 newq">
      {% for tag in tags %}
      <strong>{{tag.title}}</strong>
      {% endfor %}
    </div>
  </div> 
  {% endblock top%}
  <h3>{{tags.title}}</h3>
  <h3>{{tags.title}}</h3>
  {% block content%}
    {% for question in posts %}
      {% include "includes/question.html" %}
    {% endfor %}
  {% endblock content %}
  {%block paginator%}   
    {% include "includes/paginator.html" %}
  {% endblock paginator %}
</html>
